*/build
*/docs
*/Pods
*/Podfile.lock

MDNotificationView.xcodeproj/xcuserdata/*
Example/MDNotificationViewExample.xcworkspace/xcuserdata/*
Example/MDNotificationViewExample.xcodeproj/xcuserdata/*
Example/docs/*
Carthage/*


