MDNotificationView/MDNotificationView.xcodeproj/xcuserdata/*
Example/MDNotificationView.xcworkspace/xcuserdata/*
Example/MDNotificationView.xcodeproj/xcuserdata/*
Example/build/*
Example/docs/*
Example/Pods/*
Example/Podfile.lock
Carthage/*
_Pods.xcodeproj


